<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">

        <form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre y apellido</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Nombre del usuario" formControlName="name">
                    @if (formUtil.isValidField(registerForm, 'name')) {
                    <span class="form-text text-danger">
                        {{formUtil.getErroField(registerForm, 'name') | error}}
                    </span>
                    }
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" placeholder="Email del usuario" formControlName="email">
                    @if (formUtil.isValidField(registerForm, 'email')) {
                    <span class="form-text text-danger">
                        {{formUtil.getErroField(registerForm, 'email') | error}}
                    </span>
                    }
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Nombre código del usuario"
                        formControlName="userName">
                    @if (formUtil.isValidField(registerForm, 'userName')) {
                    <span class="form-text text-danger">
                        {{formUtil.getErroField(registerForm, 'userName') | error}}
                    </span>
                    }
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" placeholder="Password de su cuenta"
                        formControlName="passWord1">
                    @if (formUtil.isValidField(registerForm, 'passWord1')) {
                    <span class="form-text text-danger">
                        {{formUtil.getErroField(registerForm, 'passWord1') | error}}
                    </span>
                    }
                </div>
            </div>

            <!-- Password2 -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" placeholder="Confirmar la contraseña"
                        formControlName="passWord2">
                    @if (formUtil.isValidField(registerForm, 'passWord2')) {
                    <span class="form-text text-danger">
                        {{formUtil.getErroField(registerForm, 'passWord2') | error}}
                    </span>
                    }
                </div>
            </div>

            @if(formUtil.isFormInvalid(registerForm)){
                <div class="row mb-3">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <span class="form-text text-danger">
                        Password are not equals
                    </span>
                </div>
            </div>
            }


            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end" type="submit">
                        Crear
                    </button>
                </div>
            </div>


        </form>
    </div>
</div>


<h2>Form Valid: </h2>
<pre>{{ registerForm.valid | json }}</pre>


<h2>Form Status: </h2>
<pre>{{ registerForm.status | json }}</pre>

<h2>Form Pending: </h2>
<pre>{{ registerForm.pending | json }}</pre>
<h2>Form errors</h2>
<pre>{{ registerForm.errors | json }}</pre>

<h5>Nombre</h5>
<pre>{{ registerForm.controls['name'].errors | json }}</pre>

<h5>Email</h5>
<pre>{{ registerForm.controls['email'].errors | json }}</pre>

<h5>Username</h5>
<pre>{{ registerForm.controls['userName'].errors | json }}</pre>


<h5>Password</h5>
<pre>{{ registerForm.controls['passWord1'].errors | json }}</pre>

<h5>Confirmar</h5>
<pre>{{ registerForm.controls['passWord2'].errors | json }}</pre>